body {
    position: relative;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro semi-transparente */
    z-index: 0;
}

.container, form {
    position: relative;
    z-index: 1; /* para que el contenido quede encima del velado */
}
.boton {
    background-color: #FFFFFF;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 980px;
    font-family: "SF Pro Text", sans-serif;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.4289;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text", sans-serif;
    padding-top: 5px;
    margin-left: 40px;


}
.alejar{
    margin-left: 100px;
}
.imagenesprod{
    width: 200px;
    margin-left: 20px;
}
.select-blanco {
  color: rgba(223, 221, 221, 0.737); /* texto del select visible */
  background-color: rgba(0,0,0,0.5);  /* fondo translúcido */
  opacity: 0.5;                        /* opacidad corregida */
  border: solid 2px;
}

/* Para mantener estilo del placeholder */
.select-blanco option:disabled {
  color: #dfdddd;
}

.input-placeholder-blanco::placeholder {
  color: #dfdddd;
  opacity: 1;
}
.centrado {
        text-align: center;
    }
.textoprinc{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 0px) and (max-width: 767.98px) { 
    .centrado {
        text-align: center;
    }
    .imagenesprod{
    width: 180px;
    margin-left: 20px;
}

}

@media (min-width: 768px) { 
    body {
        background-image: url(../images/fondo.png);

    }
    .imagenesprod{
    width: 140px;
    margin-left: 60px;
}
    

}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { 
    .imagenesprod{
    width: 140px;
    margin-left: 60px;
}

}
