body {
    position: relative;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro semi-transparente */
    z-index: 0;
}

.container, form {
    position: relative;
    z-index: 1; /* para que el contenido quede encima del velado */
}


.select-blanco {
  color: rgba(223, 221, 221, 0.737); /* texto del select visible */
  background-color: rgba(0,0,0,0.5);  /* fondo translúcido */
  opacity: 0.5;                        /* opacidad corregida */
  border: solid 2px;
}

/* Para mantener estilo del placeholder */
.select-blanco option:disabled {
  color: #dfdddd;
}

.input-placeholder-blanco::placeholder {
  color: #dfdddd;
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 767.98px) { 
    .centrado {
        text-align: center;
    }
}

@media (min-width: 768px) { 
    body {
        background-image: url(../images/fondo.png);
    }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }